<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="menu">
          <div class="logo">
            <img src="/static/images/logo.png" alt="Medicare">
          </div>
            <ul class="navbar_list">
              <li class="list_element"><a class="list_link" href="services.html">Servicios</a></li>
              <li class="list_element"><a class="list_link" href="doctores.html">Doctores</a></li>
              <li class="list_element"><a class="list_link" href="aboutUs.html">Nosotros</a></li>
              <li class="list_element"><a class="list_link" href="contact.html">Contacto</a></li>
            </ul>
        </div>
        
        <button class="btn"><a href="">Pedir Cita</a></button>
        
      </nav>
</body>
</html>